.orderpopup {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 9999;
  }
  
  .eachOrderPop {
    display: flex;
    background-color: white;
    margin-bottom: 3px;
    border: solid 2.5px lightslategrey;
    border-radius: 5px;
  }
  
  .eachOrderPop > .imagePlace > img {
    height: 80px;
    width: 100px;
    object-fit: contain;
  }
  
  .eachOrderPop > .itemContent {
    min-width: 120px;
    background-color: lightyellow;
    color: black;
    text-align: right;
    padding-right: 5px;
  }
  
  .closeIcon {
    height: 16px !important;
    padding-top: 5px;
  }
  